<launch>

  <!-- Compila el URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find donatello_sim)/urdf/donatello.urdf.xacro'" />



  <!-- Publicar estados de las articulaciones -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/> -->
  
  <!-- Publicar transformaciones de robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />



  <!-- Lanzar RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find donatello_sim)/rviz/donatello.rviz" required="true"/>


</launch>