<launch>

  <remap from="/diff_drive_controller/cmd_vel" to="/cmd_vel"/>
  <!-- Compila el URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find donatello_sim)/urdf/donatello.urdf.xacro'" />

  <!-- Lanzar RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find donatello_sim)/rviz/donatello.rviz" required="true"/>

  <!-- Lanzar GAZEBO-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -x 0 -y 0 -z 3 -R 0 -P 0 -Y 0 -param robot_description -model donatello" />
 
  <!-- Publicar estados de las articulaciones 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/> -->
  
  <!-- Publicar transformaciones de robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>


  <!-- CONTROL 
  <node name="donatello_hw" pkg="donatello_sim" type="donatello_hw" output="screen"/>-->

  <rosparam command="load" file="$(find donatello_sim)/config/donatello_controllers.yaml"/>
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" args="spawn diff_drive_controller" output="screen"/>

  <!-- Keyboard -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>


</launch>