<?xml version="1.0" ?>
<launch>
	<arg name = "model"/>
	<param name = "donatello"
	textfile = "$ /media/ivan/ssd1tb/Uni/RoboRescue/donatello_sim/urdf/donatello.urdf" />
	
<node name = "joint_state_publisher_gui"
pkg = "joint_state_publisher_gui"
type = "joint_state_publisher_gui" />

	<node name = "donatello_state_publisher" pkg = "donatello_state_publisher" type = "donatello_state_publisher" />
	<node name = "rviz" pkg = "rviz" type = "rviz"
	args = "-d $  required = "true"
	/>
	

</launch>
